NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=delivery_db
DB_USER=postgres
DB_PASSWORD=password

DATABASE_URL="postgresql://postgres:password@localhost:5432/delivery_db?schema=public"

JWT_SECRET="replace-this-with-a-long-secure-secret"
JWT_EXPIRES_IN="7d"

BCRYPT_SALT_ROUNDS=12

REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379

APP_PUBLIC_URL="http://localhost:4000"

SMS_PROVIDER="mock"